{% extends 'layout.html' %}
{% block container %}



  <a href="{{ url_for('setting.display_new_algorithm') }}">
    <span style="font-size: 24px;"><span class="glyphicon glyphicon-plus-sign"></span> new algorithm</style>
  </a>
  <br />
  <table class="table table-bordered">
    <thead class="thead-inverse">
    <tr>
      <th>no</th>
      <th>name</th>
    </tr>
  </thead>
  {% for data in algorithms %}
    <tr>
      <td>{{ data.id }}</td>
      <td><a href="/setting/edit/{{ data.id }}">{{ data.name }}</a><br /></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
