{% extends 'layout.html' %}
{% block container %}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul><br/>
  {% endif %}
  <div class="top-pad">
    <form method="POST" action="{{url_for('setting.display_new_algorithm')}}">
      {{ form.csrf_token }}
      {{ form.name.label }} {{ form.name(size=20) }}
      <h4>고유빈 만든 코드 에디터가 들어갈 곳입니다.</h4>
      <input type="submit" value="Create">
  </form>
  </div>
{% endblock %}
